<p>web-service-anomalias works!</p>
<main role="main" class="container">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Dispositivo</th>
                            <th scope="col">Ip</th>
                        </tr>
                    </thead>
                    <!--En el repositorio de SpringBoot se limita a listar 10 registros para que no demore mucho al 
        cargar los datos-->
                    <tbody *ngFor="let user of logueosList['logueo'] ; let i=index">
                        <tr>
                            <th scope="row">{{i+1}}</th>
                            <td>{{user.usuario}}</td>
                            <td>{{user.fecha}}</td>
                            <td>{{user.hora}}</td>
                            <td>{{user.dispositivo}}</td>
                            <td>{{user.ip}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>